body {
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.section-title span {
  color: #fd9222;
}

.section-top {
  padding-top: 120px;
}

/*-----HEADER------*/

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-nav {
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-logo-icon {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-item-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-nav-item-name:hover,
.header-nav-item-name:focus,
.header-nav-item-name:active {
  color: #fd9222;
}

.header-soc-list {
}
.header-soc-item {
}
.header-soc {
}

/*----HERO----*/

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-title-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  line-height: normal;
}

.hero-how {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  line-height: normal;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/*----FEATURES----*/
.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-list {
}
.features-item {
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  line-height: normal;
  margin-bottom: 18px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*-----TASTE-------*/

.taste {
}

.taste-title {
  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-title-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin: 0 auto 50px;
  max-width: 486px;
}

.taste-list {
}
.taste-list-pict {
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*------MADE-------*/
.made {
}

.made-title {
  margin-bottom: 50px;
}

.made-title-pic {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.made-list {
}
.made-item {
}
.made-item-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin-bottom: 24px;
}

/*------PRODUCTS--------*/
.products {
}
.products-title {
  margin-bottom: 50px;
}

.product-list {
}
.product-item {
}
.product-item-pic {
}
.product-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.product-sup-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.product-btn-price {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/*-------SELLERS-------*/
.sellers {
}

.sellers-title {
  margin-bottom: 50px;
}
.sellers-list {
}
.sellers-item {
}
.sellers-pic {
}
.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/*------TEAM-------*/
.team {
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  margin-bottom: 49px;
}

.team-item {
}
.team-pic {
}

.team-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.team-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.team-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/*--------FOOTER-------*/
.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-disc {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-disc span {
  color: #fd9222;
}

.footer-soc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-list {
}
.footer-item {
}
.footer-soc-linc {
  color: #fff;
}

.contact-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.contact-address {
}
.contact-address-list {
}
.contact-address-item {
}

.contact-address-disc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.subscribe-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
}
