body {
  font-family: Montserrat, sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: currentColor;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title span {
  color: #fd9222;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/**-----------------------HEADER-----------------------------*/

.head-main {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-container {
  display: flex;
  gap: 90px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  gap: 24px;
}

.header-nav-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-logo span {
  font-style: italic;
}

.soc-list {
  display: flex;
  gap: 14px;
}

/**-------------------------HERO-----------------------------*/
.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-all-btn {
  display: flex;
  align-items: center;
}

.hero-btn {
  padding: 14px 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}

.hero-made {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/**---------------------FEATURES-----------------------------*/
.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.features-list {
  display: flex;
  padding-left: 18px;
  padding-right: 19px;
  gap: 88px;
}

.features-item {
  width: calc((100% - 88px * 2) / 3);
}

/**-----------------------TASTE--------------------------*/
.taste-sensation {
  padding-top: 120px;
}

.taste-title {
  max-width: 412px;
  margin-bottom: 28px;
  margin: 0 auto;
}

.taste-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding-left: 5px;
}

.taste-img {
  margin: 0 auto;
  margin-bottom: 36px;
}

/**---------------------MADE---------------*/

.made {
  padding-top: 120px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-content {
  background-color: #ffffff;
  padding: 32px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
  min-width: 350px;
}

.made-list {
}

.made-item:not(:first-child) {
  margin-top: 24px;
}

.made-item-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/**-----------------PRODUCTS---------------*/
.products {
  padding-top: 120px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
}
.products-item {
}

.products-img {
  margin-bottom: 8px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-item-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-item-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/**----------------TOP-----------------*/
.top {
  padding-top: 120px;
}

.top-title {
  margin-bottom: 50px;
}

.top-list {
}
.top-item {
}

.top-img {
  margin-bottom: 28px;
}

.top-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/**-----------------------LOVED------------------*/
.loved {
  padding-top: 120px;
}

.loved-title {
  margin-bottom: 50px;
}

.loved-list {
}
.loved-item {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.loved-item-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/**---------------FOOTER------------------*/
.foot {
  background: #1e1823;
}

.foot-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.foot-title span {
  color: #fd9222;
}

.foot-soc-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.foot-contact-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.foot-contact {
}
.foot-contact-list {
}
.foot-contact-item {
}

.foot-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}

.foot-nav {
}
.foot-nav-list {
}
.foot-nav-item {
}

.foot-nav-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}
